brotli==1.0.9
brotlipy==0.7.0
ConfigParser==5.3.0
cryptography==2.9.2
Cython==0.29.21
dl==0.1.0
Flask==1.1.2
flask_googlemaps==0.4.1
HTMLParser==0.0.2
importlib_metadata==4.12.0
ipaddr==2.2.0
ipython==7.34.0
keyring==21.2.1
lockfile==0.12.2
lxml==4.5.2
matplotlib==3.2.2
mypy_extensions==0.4.3
numpy==1.18.5
ordereddict==1.1
pandas==1.0.5
plotly==5.10.0
protobuf==4.21.7
pyOpenSSL==22.1.0
xmlrpclib==1.0.1
zipp==3.1.0
