<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Document</title>
</head>

<body class="suburbBody">
    <div class="pages">
        <div class="topnav">
            <b><img src="{{ url_for('static', filename='./images/logo2.png')}}" style="width:35px;height: 35px;margin-left: 5px; margin-top: 5px;" /></b>
            <a class="where" style="color:#000000 ; text-align: left;pointer-events: none;">Where to Live</a>
            <a  onclick="gotoSuburb()">Information For Suburb</a>
            <a  onclick="gotoSearching()">Preferences Searching</a>
            <a  onclick="gotoHome()">Home</a>
        </div>
        <div class="content">
            <h1>Search Result</h1>

            
            <div>
                <h2>
                Campus:{{uni}} <br>
                Max Distance: {{max_distance}} km <br>
                Cinema: {{cinema}} <br>
                Hospital: {{hospital}}<br>
                Rent:{{rent}}
                </h2>
            </div>


            
            <div style="display: flex;" id="demo">  


                <!--
                {% for user in your_list3 %} 
                <div style="padding: 5px;">
                    <div style="padding: 20px;width: 300px;border: 3px outset coral;">
                        <div style="background-color:#e0b1a3;cursor: pointer;" onclick="gotoSearchOne('{{user[1]}}')"><div style="font-size: 30px;padding: 4px;">{{ user[1] }}</div></div>
                        <div style="text-align:right; padding: 3px;" >Median Rent: A${{ user[2] }} </div>               
                        <div style="text-align:right; padding: 3px;">Number of Hospital: {{ user[5] }}</div>
                        <div style="text-align:right; padding: 3px;">Number of Cinema: {{ user[6] }}</div>
                        <div style="text-align:right; padding: 3px;">Closest Hospital: {{ user[3] }} km</div>
                        <div style="text-align:right; padding: 3px;">Closest Cinema: {{ user[4] }} km</div>
                        <div style="text-align:right; padding: 3px;">{{ user[0] }}</div>
                    </div>
                </div>
                {% endfor %} 
                -->



            </div> 

            <script>
                var list_sub = {{ your_list3| tojson}};
                let text = ''
                for (let i = 0; i < list_sub.length; i++) {
                    text += '<div style="padding: 5px;"><div style="padding: 20px;width: 300px;border: 3px outset coral;">'
                    text += '<div style="background-color:#e0b1a3;cursor: pointer;" onclick="gotoSearchOne(\''+list_sub[i][1]+'\')"><div style="font-size: 30px;padding: 4px;">'+list_sub[i][1]+'</div></div>'
                        
                    if (parseFloat({{max_distance}}) < parseFloat(list_sub[i][7])){
                        text += '<div style="color: red;text-align:right; padding: 3px;" >Estimated Distance: '+list_sub[i][7]+' km </div>'
                    }
                    else{
                        text += '<div style="color: black;text-align:right; padding: 3px;" >Estimated Distance: '+list_sub[i][7]+' km </div>'
                    }




                    if (parseInt({{rent}}) < parseInt(list_sub[i][2])){
                        text += '<div style="color: red;text-align:right; padding: 3px;" >Median Rent: A$'+list_sub[i][2]+' </div>'
                    }
                    else{
                        text += '<div style="color: black;text-align:right; padding: 3px;" >Median Rent: A$'+list_sub[i][2]+' </div>'
                    }

                    if ('{{hospital}}' == 'include'){ 
                        if(list_sub[i][5] == 0){
                            text += '<div style="color: red;text-align:right; padding: 3px;">Number of Hospital: '+list_sub[i][5]+'</div>'
                        }else {text += '<div style="text-align:right; padding: 3px;">Number of Hospital: '+list_sub[i][5]+'</div>'}
                    }else{
                        text += '<div style="text-align:right; padding: 3px;">Number of Hospital: '+list_sub[i][5]+'</div>'
                        }

                    if ('{{cinema}}' == 'include'){ 
                        if(list_sub[i][6] == 0){
                            text += '<div style="color: red;text-align:right; padding: 3px;">Number of Cinema: '+list_sub[i][6]+'</div>'
                        }else {text += '<div style="text-align:right; padding: 3px;">Number of Cinema: '+list_sub[i][6]+'</div>'}
                    }else{
                        text += '<div style="text-align:right; padding: 3px;">Number of Cinema: '+list_sub[i][6]+'</div>'
                        }

                    

                    text += '<div style="text-align:right; padding: 3px;">Closest Hospital: '+list_sub[i][3]+' km</div>'
                    text += '<div style="text-align:right; padding: 3px;">Closest Cinema: '+list_sub[i][4]+' km</div>'
                    text += '<div style="text-align:right;font-weight: bold; padding: 3px;">Score: '+list_sub[i][0]+'</div>'
                    text += '</div></div>'

                }


                document.getElementById("demo").innerHTML = text;
            </script>







        </div>

    </div>

    <!--
    <div style="display: flex;margin-left: 20px;">
        <div style="color: forestgreen; padding: 50px;">
            <h1> Cinema </h1>
            <iframe src="/myproject/templates/vcinema.html" width = "700" height = "500" title="Distance to CBD from selected suburbs"></iframe>

        </div>

        <div style="color: forestgreen;padding: 50px;">
            <h1> Level of crimes by offence divisions within suburbs </h1>
            <iframe src="/myproject/templates/vcrime.html" width = "700" height = "500" title="Distance to CBD from selected suburbs"></iframe>

        </div>
    </div>

    <div style="display: flex;margin-left: 20px;">
        <div style="color: forestgreen;padding: 50px;">
            <h1>Distance to CBD</h1>
            <iframe src="/myproject/templates/vdistancetoCBD.html" width = "700" height = "500" title="Distance to CBD from selected suburbs"></iframe>
    
        </div>
    
        <div style="color: forestgreen;padding: 50px;">
            <h1>Hospital</h1>
            <iframe src="/myproject/templates/vhospital.html" width = "700" height = "500" title="Distance to CBD from selected suburbs"></iframe>
    
        </div>
    </div>

    
    <div style="display: flex;margin-left: 20px;">
        <div style="color: forestgreen;padding: 50px;">
            <h1>Median Rent</h1>
            <iframe src="/myproject/templates/vrentmedian_1.html" width = "700" height = "500" title="Distance to CBD from selected suburbs"></iframe>

        </div>
    </div>
    -->


</body>








</html>
<script>
    function gotoSearchOne(x) {
        window.location.href = './'+x;
    }

    function gotoCompare() {
        window.location.href = './compare.html';
    }

    function gotoSuburb() {
        window.location.href = './search_all';
    }

    function gotoSearching() {
        window.location.href = './filter';
    }

    function gotoHome() {
        window.location.href = './search';
    }



</script>