<html>
   <body>
      
      <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>Student Information</h3>
         University<br>
         <input type = "text" name = "nm" /></br>
         
         Minimum Population<br>
         <textarea name = "add" ></textarea><br>
         
         Cinema (0 or 1)<br>
         <input type = "text" name = "city" /><br>
         
         Hospital (0 or 1)<br>
         <input type = "text" name = "pin" /><br>
         <input type = "submit" value = "submit" /><br>
      </form>
      
   </body>
</html>